.hover1{
	color: white;
}
.hover1:hover {
	color: black;
}

.hover2{
	color: white;
}
.hover2:hover {
	color: black;
}

.hover3{
	color: white;
}
.hover3:hover {

	color: black;
}

.hover4{
	text-decoration: none;
	color: white;
}
.hover4:hover {
	color: black;
}

.hover5{
	text-decoration: none;
	color: white;
}
.hover5:hover {
	color: black;
}

.hover6{
	text-decoration: none;
	color: white;
}
.hover6:hover {
	color: black;
}

.hover7{
	text-decoration: none;
	color: white;
}
.hover7:hover {
	color: black;
}

.hover8{
	text-decoration: none;
	color: white;
}
.hover8:hover {
	color: black;
}