.entry{
  background-color: black;
  color: white;
}

.link{
  text-decoration: none;
  color: floralwhite;
}


.hover1{
  color: black;
}
.hover1:hover {
  color: palegreen;
}

.hover2{
  color: black;
}
.hover2:hover {
  color: palegreen;
}

.hover3{
  color: black;
}
.hover3:hover {

  color: palegreen;
}

.hover4{
  text-decoration: none;
  color: black;
}
.hover4:hover {
  color: palegreen;
}

.hover5{
  text-decoration: none;
  color: black;
}
.hover5:hover {
  color: palegreen;