.moth{
  color: palegreen;
}

.entry{
  background-color: black;
  color: white;
}

.link{
  text-decoration: none;
  color: floralwhite;
}


.hover1{
  color: black;
}
.hover1:hover {
  color: palegreen;
}

.hover2{
  color: black;
}
.hover2:hover {
  color: palegreen;
}

.hover3{
  color: black;
}
.hover3:hover {

  color: palegreen;
}

.hover4{
  text-decoration: none;
  color: black;
}
.hover4:hover {
  color: palegreen;
}

.hover5{
  text-decoration: none;
  color: black;
}
.hover5:hover {
  color: palegreen;

}.hover6{
  text-decoration: none;
  color: black;
}
.hover6:hover {
  color: palegreen;

}.hover7{
  text-decoration: none;
  color: black;
}
.hover7:hover {
  color: palegreen;

}.hover8{
  text-decoration: none;
  color: black;
}
.hover8:hover {
  color: palegreen;

}.hover9{
  text-decoration: none;
  color: black;
}
.hover9:hover {
  color: palegreen;
}

.hover10{
  text-decoration: none;
  color: black;
}
.hover10:hover {
  color: palegreen;
}

.hover11{
  text-decoration: none;
  color: black;
}
.hover11:hover {
  color: palegreen;
}
